:--heading {
  @media (--sm-plus) {
    opacity: 0.3;
  }
  @media (--sm-plus-min) {
    opacity: 0.7;
  }

  min-height: 200px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-callback] {
    outline: 3px solid red;
  }

  &.ob {
    background-color: grey;
    transition: none;
    opacity: 0;

    @media (--sm-plus) {
      opacity: 1;
    }
  }

  &.ob.vis {
    background-color: #334488;
    transition: all 0.5s;
    opacity: 1;
    transform: none;
  }
}

:--inline {
  font-size: 20px;

  @media (--sm-plus) {
    font-size: 24px;
  }
}

.some-big-text {
  @at-root:root {
    --body-color: blue;
  }

  margin: 0;
  padding: 0;
  color: var(--body-color);

  @media (--md-min) {
    color: red;
  }

  &:after {
    font-size: 50px;
  }
}
